.category__wrapper {
  border-bottom: 1px solid $primary;
  margin-bottom: 8px;
}

.category__name {
  font-family: $semi;
  font-size: 1.8rem;
  font-weight: 600;
  color: $highlight;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 8px;
}

.category__desc {
  font-family: $body;
  font-size: 1.4rem;
  line-height: 1.3;
  color: $grey;
  margin-bottom: 20px;
}
