.link__container {
  margin-top: 12px;
  margin-bottom: 8px;
}

.link__name {
  font-family: $bold;
  font-size: 1.6rem;
  margin-bottom: 4px;

  a {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
  }

  a::before {
    content: '\003e';
    margin-right: 6px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.link__description {
  font-family: $body;
  color: $grey;
  font-size: 1.4rem;
  line-height: 1.3;
  margin-top: 6px;
}

.badge__container {
  display: inline-block;
}

.badge {
  display: inline-block;
  font-family: $bold;
  text-transform: uppercase;
  text-align: center;

  &--new {
    background-color: $highlight;
    color: white;
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
    margin-right: 6px;
    margin-left: 6px;
    vertical-align: text-top;
  }

  &--updated {
    color: $secondary;
    font-size: 1.1rem;
    padding: 0.3rem 0;
    vertical-align: text-top;
    margin-left: 0;
  }
}

.last__updated {
  color: $grey;
  font-size: 0.9rem;
  margin-left: 6px;
}
