@import '/styles/typography';
@import '/styles/layout';
@import '/styles/link';
@import '/styles/category';
@import '/styles/search';
@import '/styles/password';
@import '/styles/settings';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
